In [1]:
#pip install dash==1.11.0

In [2]:
#pip install --upgrade pip

In [2]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd

# Uses an External Stylesheet
# Use a css file from your GitHub Pages site 
external_stylesheets = ['https://raw.githubusercontent.com/sakethchidepudi/sakethchidepudi.github.io/master/learn.css'] 

# Creates the app to instantiate the content for the Dashboard and use the external_stylesheets
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

# Use a csv dataset from a repository in your GitHub account. Use the Raw URL to expose the data to the Python dataframe
df = pd.read_csv('https://raw.githubusercontent.com/sakethchidepudi/ISM6419/master/USA_cars_datasets.csv')


# Custom function used to generate a data table from a dataframe
def generate_table(dataframe, max_rows=10):
    return html.Table([
        html.Thead(
            html.Tr([html.Th(col) for col in dataframe.columns])
        ),
        html.Tbody([
            html.Tr([
                html.Td(dataframe.iloc[i][col]) for col in dataframe.columns
            ]) for i in range(min(len(dataframe), max_rows))
        ])
    ])

In [4]:
df.head()

,No,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [5]:
generate_table(df)

Table([Thead(Tr([Th('No'), Th('price'), Th('brand'), Th('model'), Th('year'), Th('title_status'), Th('mileage'), Th('color'), Th('vin'), Th('lot'), Th('state'), Th('country'), Th('condition')])), Tbody([Tr([Td(0), Td(6300), Td('toyota'), Td('cruiser'), Td(2008), Td('clean vehicle'), Td(274117), Td('black'), Td('  jtezu11f88k007763'), Td(159348797), Td('new jersey'), Td(' usa'), Td('10 days left')]), Tr([Td(1), Td(2899), Td('ford'), Td('se'), Td(2011), Td('clean vehicle'), Td(190552), Td('silver'), Td('  2fmdk3gc4bbb02217'), Td(166951262), Td('tennessee'), Td(' usa'), Td('6 days left')]), Tr([Td(2), Td(5350), Td('dodge'), Td('mpv'), Td(2018), Td('clean vehicle'), Td(39590), Td('silver'), Td('  3c4pdcgg5jt346413'), Td(167655728), Td('georgia'), Td(' usa'), Td('2 days left')]), Tr([Td(3), Td(25000), Td('ford'), Td('door'), Td(2014), Td('clean vehicle'), Td(64146), Td('blue'), Td('  1ftfw1et4efc23745'), Td(167753855), Td('virginia'), Td(' usa'), Td('22 hours left')]), Tr([Td(4), Td(27700), Td('chevrolet'), Td('1500'), Td(2018), Td('clean vehicle'), Td(6654), Td('red'), Td('  3gcpcrec2jg473991'), Td(167763266), Td('florida'), Td(' usa'), Td('22 hours left')]), Tr([Td(5), Td(5700), Td('dodge'), Td('mpv'), Td(2018), Td('clean vehicle'), Td(45561), Td('white'), Td('  2c4rdgeg9jr237989'), Td(167655771), Td('texas'), Td(' usa'), Td('2 days left')]), Tr([Td(6), Td(7300), Td('chevrolet'), Td('pk'), Td(2010), Td('clean vehicle'), Td(149050), Td('black'), Td('  1gcsksea1az121133'), Td(167753872), Td('georgia'), Td(' usa'), Td('22 hours left')]), Tr([Td(7), Td(13350), Td('gmc'), Td('door'), Td(2017), Td('clean vehicle'), Td(23525), Td('gray'), Td('  1gks2gkc3hr326762'), Td(167692494), Td('california'), Td(' usa'), Td('20 hours left')]), Tr([Td(8), Td(14600), Td('chevrolet'), Td('malibu'), Td(2018), Td('clean vehicle'), Td(9371), Td('silver'), Td('  1g1zd5st5jf191860'), Td(167763267), Td('florida'), Td(' usa'), Td('22 hours left')]), Tr([Td(9), Td(5250), Td('ford'), Td('mpv'), Td(2017), Td('clean vehicle'), Td(63418), Td('black'), Td('  2fmpk3j92hbc12542'), Td(167656121), Td('texas'), Td(' usa'), Td('2 days left')])])])

In [ ]:
# Add content to the app layout
# Begin all content DIV
app.layout=html.Div([
    # Add your HTML tags to the content - notice a comma is added between HTML elements
    html.H1('Data Visualization for Story Telling'),
    html.Div([
        html.P('Information about 28 brands of clean and used vehicles for sale in US'),
    ]),
    # Begin of DIV surrounding both Tables
    html.Div([
    # Begin of First Table
    html.Table(style={'width':'100%'},
               # Begin of Table children
               children=[
                   #######################################################################
                   # Begin of First Tr
                 html.Tr(
                     #Begin Tr children
                     children=[
                         # Begin Th
                         
                         html.Th(style={'width':'50%'},
                             # Begin Th children
                             children=[
                                 html.H3('Car Prices of Ford and Dodge')
                             # End of Th children   
                             ]
                         
                         # End of Th - Notice a comma is placed here to separate the next Th
                         ),
                         # Begin of Th
                         html.Th(style={'width':'50%'},
                             # Begin of Th children
                             children=[
                                 html.H3('Car Colors')
                             # End of Th children    
                             ]
                         
                         # End of Th
                         )
                         
                     # End of Tr children    
                     ]
                 # End of First Tr - Notice a comma is placed here to separate the next Tr
                 ),
                 #########################################################################
                 # Begin of Second Tr
                 html.Tr(
                     #Begin Tr children
                     children=[
                         # Begin Td
                         html.Td(
                             # Begin Td children
                             children=[
                                    # Display bar graph
                                    dcc.Graph(
                                    id='example-graph',
                                    figure={
                                        'data': [
                                            {'x': ['Ford','Dodge', 'Chevrolet'], 'y': [3000, 6000, 3500], 'type': 'bar', 'name': 'Model1'},
                                            {'x': ['Ford','Dodge', 'Chevrolet'], 'y': [4500, 7000, 5000], 'type': 'bar', 'name': 'Model2'},
                                        ],
                                        'layout': {
                                            'title': '2019 Model1 vs. Model2'
                                        }
                                    }
                                # End of Chart 1
                                )
                              # End of Td children   
                             ]
                         
                         # End of Td - Notice a comma is placed here to separate the next Th
                         ),
                         # Being of Td
                         html.Td(
                             # Begin of Td children
                             children=[
                                 # Display plot graph use data from dataframe df
                                 dcc.Graph(
                                    id='car-color',
                                figure={
                                    'data': [
                                         {'x': ['Black','Silver', 'Red'], 'y': [360, 480, 280], 'type': 'bar', 'name': 'Color'}                                     
                                        ],
                                        'layout': {
                                            'title': 'Number of cars in different color'
                                        }
                                    # End of 2nd Inner DIV
                                    })
                           
                             # End of Td children    
                             ]
                         # End of Td
                         )
                     # End of Tr children    
                     ]
                 # End of Tr
                 )     
                #########################################################################                   
               #End of Table Children    
               ]
              # End of First Table - Notice a comma is placed here to separate the next Table
              ),
 #########################################################################################   
    # Begin of Second Table
    html.Table(style={'width':'100%'},
               children=[
                 #######################################################################
                 # Begin First Tr
                 html.Tr(
                     #Begin Tr children
                     children=[
                         # Begin Th
                         html.Th(style={'width':'50%'},
                             # Begin Th children
                             children=[
                                 html.H3('Mileage Impact of cars on Price')
                             # End of Th children   
                             ]
                         
                         # End of Th - Notice a comma is placed here to separate the next Th
                         ),
                         # Begin of Th
                         html.Th(style={'width':'50%'},
                             # Begin of Th children
                             children=[        
                                    html.H3('Top 10 cars in US States and their usage Details')
                                                               
                             # End of Th children    
                             ]
                         # End of Th
                         )
                     # End of Tr children    
                     ]
                 # End of First Tr
                 ),
                   
                ######################################################################
                # Begin of Second Tr
                 html.Tr(
                     #Begin Tr children
                     children=[
                         # Begin Td
                         html.Td(
                             # Begin Td children
                             children=[
                                    # Display a simple line graph
                                    dcc.Graph(
                                        id='g1', 
                                        figure={'data': [{'x': [100000, 120000, 130000], 'y': [4000, 2400, 2000], 'type': 'line', 'name': 'Mileage vs Price'}], 
                                                'layout': {'title': 'Mileage vs Price'}})
                             # End of Td children   
                             ]
                         
                         # End of Td - Notice a comma is placed here to separate the next Th
                         ),
                         # Begin of Td
                         html.Td(
                             # Begin of Td children
                             children=[
                                    # Execute custom generate_table function and display data
                                    # Use data from dataframe df2
                                    generate_table(df)
                             # End of Td children    
                             ]
                         # End of Td
                         )
                     # End of Tr children    
                     ]
                 # End of Second Tr
                 )     
               
               #######################################################################
               #End of Table Children    
               ]
              #########################################################################################
              # End of Second Table - Notice a comma is placed here to separate the next Content
              ),
    # End of DIV surrounding both Tables
    ]),
               
# End of all content DIV
])

# Run the app on the web server
if __name__ == '__main__':
    # Set debug to False. Some configurations are not setup for Debug
    app.run_server(debug=False)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)